.tag-item {
  margin: 0;
  margin-top: 0.5rem;
  border: var(--border-box);
  border-radius: 1rem;
  padding: 0.3rem 0.7rem;
}

.tag-popup {
  background-color: var(--background);
  border: var(--border-box);
  border-radius: 8px;
  position: absolute;
  z-index: 2;
  padding: 1rem;
  max-width: 90vh;
}

.tag-expertise {
  color: lightcoral;
}

@media (max-width: 900px) {
  .tag-popup {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
