.tag-container {
  position: relative;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
  border-top: 1px solid var(--color);
  padding: 0.8rem;
  margin-top: 20px;
}

.tag-title {
  position: absolute;
  padding: 0 8px;
  top: -0.8em;
  font-weight: bold;
  background-color: var(--background);
  z-index: 1;
}

.tag-item {
  margin: 0;
  margin-top: 0.5rem;
  border: 2px solid var(--color);
  border-radius: 1rem;
  padding: 0.3rem 0.7rem;
}

.tag-popup {
  background-color: var(--background);
  border: 2px solid var(--color);
  border-radius: 8px;
  position: absolute;
  top: calc(100% - 1rem);
  left: 1rem;
  z-index: 2;
  padding: 1rem;
  width: 400px;
}

.tag-expertise {
  color: lightcoral;
}

.tag-expandable {
  color: lightcoral;
}

.tag-expandable:hover {
  background-color: var(--backgroundSecondary);
  cursor: pointer;
}
