@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: #111827;
  --color: #eaeaea;
}

html,
body {
  --content-width: 1200px;

  --default-padding: 1rem;
  --default-margin: 1rem;
  --border-box-radius: 0.5rem;

  --link-color: #3b82f6;
  --ratingColor1: #6ea6ff;
  --ratingColor2: #4ed160;
  --ratingColor3: #ecb64c;
  --ratingColor4: #f15d91;

  --color-secondary: #b9b9b9;
  --background-secondary: #1f2937;
  --max-media-width: 480px;

  --border-box: 1px solid var(--color);
  color: var(--color);
  background-color: var(--background);
}

main {
  flex: 1;
  margin: 0 auto;
  padding: 0 1rem;
  justify-items: center;
  overflow: visible;
  max-width: var(--content-width);
  width: 100%;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
}

h4 {
  letter-spacing: 1px;
  font-weight: 500;
}

p {
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.link {
  text-decoration: underline;
  color: var(--link-color);
}

.intro-container {
  min-height: calc(var(--vh, 1vh) * 100 - 62px);
  width: 100%;
  position: relative;
}

.typewriter-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-journey-text {
  text-align: center;
  position: absolute;
  padding: var(--default-padding);
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 3s ease;
}

.intro-journey-text.visible {
  opacity: 1;
}

.intro-journey-text:hover {
  background-color: var(--background-secondary);
}

@media (max-width: 480px) {
  .intro-journey-text {
    font-size: 1.5rem;
    width: 100%;
  }
}
