@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  /* overflow-x: scroll;
  scrollbar-width: none; */
  @apply bg-white dark:bg-gray-900;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    --color: #eaeaea;
    --colorSecondary: #b9b9b9;
    --background: #111827;
    --backgroundSecondary: #1f2937;
    --link-color: #3b82f6;

    --ratingColor1: #6ea6ff;
    --ratingColor2: #4ed160;
    --ratingColor3: #ecb64c;
    --ratingColor4: #f15d91;

    --content-width: 1200px;
    --mainWidth: 1800px; /* TODO: is that even necesary?*/

    --border-box: 1px solid var(--color);
    color: var(--color);
  }
}
/* 
body::-webkit-scrollbar {
  display: none;
} */

main {
  flex: 1;
  max-width: var(--mainWidth);
  margin: 0 auto;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
}

h4 {
  letter-spacing: 1px;
  font-weight: 500;
}

p {
  letter-spacing: 1px;
  font-size: 0.9rem;
}

main * {
  margin: auto;
}

.link {
  text-decoration: underline;
  color: var(--link-color);
}
