@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: #111827;
  --color: #eaeaea;
}

html,
body {
  --content-width: 1200px;

  --default-padding: 1rem;
  --default-margin: 1rem;
  --border-box-radius: 0.5rem;

  --link-color: #3b82f6;
  --ratingColor1: #6ea6ff;
  --ratingColor2: #4ed160;
  --ratingColor3: #ecb64c;
  --ratingColor4: #f15d91;

  --color-secondary: #b9b9b9;
  --background-secondary: #1f2937;
  --max-media-width: 480px;

  --header-height: 4rem;

  --border-box: 1px solid var(--color);
  color: var(--color);
  background-color: var(--background);
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-header {
  min-height: var(--header-height);
}

.site-container main {
  flex: 1 0 auto;
}

main {
  flex: 1;
  margin: 0 auto;
  padding: 0 1rem;
  justify-items: center;
  overflow: visible;
  max-width: var(--content-width);
  width: 100%;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
}

h4 {
  letter-spacing: 1px;
  font-weight: 500;
}

p {
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.link {
  text-decoration: underline;
  color: var(--link-color);
}
