@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-900;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    --color: #eaeaea;
    --background: #111827;
    color: var(--color);
  }
}

main {
  flex: 1;
  max-width: 1800px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
}

h4 {
  letter-spacing: 1px;
  font-weight: 500;
}

p {
  letter-spacing: 1px;
  font-size: 0.9rem;
}

main * {
  margin: auto;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .project-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-list li {
  width: 100%;
}
