.intro-container {
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100 - var(--header-height));
}

.home-intro-container {
  position: absolute;
  width: 100%;
}

.intro-journey-text {
  text-align: center;
  position: absolute;
  padding: var(--default-padding);
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 3s ease;
}

.intro-journey-text.visible {
  opacity: 1;
}

.intro-journey-text:hover {
  background-color: var(--background-secondary);
}

@media (max-width: 480px) {
  .intro-journey-text {
    font-size: 1.5rem;
    width: 100%;
  }
}

.timeline-header {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border-bottom: var(--border-box);
  margin: 1rem 0;
  padding: 1rem;
}

.timeline-header-item {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  transition: all 0.3s ease;
  width: 100%;
  align-items: center;
}

.timeline-header-image {
  flex: 0;
  height: 4rem;
}

.timeline-header-item h2 {
  font-size: 1.5rem;
  letter-spacing: 0.6rem;
  flex: 1;
}

@media (max-width: 900px) {
  .timeline-header {
    display: none;
  }
}
