nav {
  display: flex;
  align-items: center;
  height: auto;
  visibility: hidden;
  opacity: 0;
}

nav.visible {
  visibility: visible;
  animation: fadeIn 2s forwards;
}

nav a {
  padding: 10px;
  font-size: 21px;
  border-radius: 10px;
  margin: 5px;
}

nav a:hover {
  background-color: var(--backgroundSecondary);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
