nav {
  display: flex;
  align-items: center;
  height: auto;
  opacity: 1;
  transition: opacity 0.5s ease;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 4s;
}

nav a {
  padding: 10px;
  font-size: 21px;
  border-radius: 10px;
  margin: 5px;
}

nav a:hover {
  background-color: #1f2937;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
