

nav {
  display: flex;
  align-items: center;
  height: auto;
  opacity: 1;
  transition: opacity 0.5s ease;
}

nav a {
  padding: 10px;
  font-size: 21px;
  border-radius: 10px;
  margin: 5px;
}


nav a:hover{
  background-color: blue;
}


.navigation.about-page {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 9s; 
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}