* {
  --icon-container-height: 13rem;
}

.project-card {
  min-height: 22rem;
  border: var(--border-box);
  border-radius: var(--border-box-radius);
  position: relative;
  min-width: 20rem;
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.project-card:hover {
  transform: rotateY(180deg);
}

.project-card-icon-container {
  flex: 1;
  width: 100%;
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-box-radius);
  background-color: var(--background-secondary);
}

.project-card-front,
.project-card-back {
  background-color: var(--background-color);
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 1s ease;
}

.project-card-front {
  transform: rotateX(0deg);
}

.project-card-back {
  transform: rotateY(180deg);
  padding: 1rem;
  overflow: auto;
}

.project-card-icon-container img {
  padding: 2rem;
  height: var(--icon-container-height);
}

.project-card-title {
  font-size: 1rem;
  margin: 0.3rem;
  margin-bottom: 0;
  font-size: 1.8rem;
  text-align: center;
}

.project-card-subtitle {
  color: var(--color-secondary);
  padding: 0.8rem 0.5rem;
  text-align: center;
}

.project-card-description {
  font-weight: 350;
  color: var(--color-secondary);
  margin: 1rem 0;
  hyphens: auto;
  text-align: justify;
}
