* {
  --icon-container-height: 14rem;
}

.project-card {
  min-height: 22rem;
  border: var(--border-box);
  border-radius: var(--border-box-radius);
  position: relative;
  min-width: 20rem;
  transition: transform 1s ease;
  transform-style: preserve-3d;
}
.project-card:hover {
  transform: rotateY(180deg);
}

.project-card-icon-container {
  flex: 1;
  width: 100%;
  border-radius: var(--border-box-radius);
  background-color: var(--background-secondary);
}

.project-card-front,
.project-card-back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.project-card-back {
  transform: rotateY(180deg);
  padding: 1rem;
}

.project-card-icon-container img {
  padding: 2rem;
  height: var(--icon-container-height);
}

.project-card-title {
  font-size: 1rem;
  margin: 0.5rem;
  font-size: 2rem;
  text-align: center;
}

.project-card-subtitle {
  color: var(--color-secondary);
  text-align: center;
}

.project-card-description {
  font-weight: 350;
  color: var(--color-secondary);
  margin: 1rem 0;
  hyphens: auto;
  text-align: justify;
}
