.timeline-item {
  position: relative;
  border: var(--border-box);
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  height: auto;
  transition: background-color 0.5s ease;
}

.timeline-item-header-container:hover {
  cursor: pointer;
  background-color: #1f2937;
}

.timeline-item-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.timeline-item-header-container {
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  min-height: 6.5rem;
}

.timeline-item-title {
  flex: 1;
}
.timeline-item-subtitle {
  font-weight: 350;
  width: 100%;
  color: var(--color-secondary);
  text-align: left;
  flex: 1;
}

.timeline-item-date {
  font-weight: 350;
  justify-content: right;
  margin: 0;
}

.timeline-item-content {
  background-color: inherit;
  overflow: hidden;
  margin: 0.3rem 1rem;
  padding: 0;
}

.timeline-item-description {
  margin-bottom: 3rem;
}

.timeline-item-content.expanded {
  overflow: visible;
}
