.timeline {
  position: relative;
  height: auto;
  width: 100%;
  max-width: var(--content-width);
}

.timeline-line {
  width: 2px;
  height: 100%;
  background-color: #999;
  grid-column: 2;
}

.timeline-items-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1rem 1fr;
}

.timeline-item-container {
  box-sizing: border-box;
  width: 95%;
  margin: 5px;
}

@media (max-width: 900px) {
  .timeline-items-container {
    grid-template-columns: 1fr;
  }

  .timeline-line {
    grid-column: 1;
  }

  .timeline-item-container {
    grid-column: 1 !important;
    grid-row: auto !important;
  }
}
