.timeline-item {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 95%;
  transition: background-color 0.5s ease;
}

.timeline-item:hover {
  cursor: pointer;
  background-color: #1f2937;
}

.timeline-item-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.timeline-item-header-container {
  display: flex;
  flex-direction: column;
}

.timeline-item-title {
  flex: 1;
}
.timeline-item-subtitle {
  width: 100%;
  color: var(--colorSecondary);
  text-align: left;
}

.timeline-item-date {
  justify-content: right;
  color: var(--colorSecondary);
  margin: 0;
}

.timeline-item-content {
  background-color: inherit;
  overflow: hidden;
}

.timeline-item-content.expanded {
  overflow: visible;
}
