.timeline {
  position: relative;
  height: auto;
  width: 1200px;
}

.timeline-line {
  width: 2px;
  height: 100%;
  background-color: #999;
  grid-column: 2;
}

.timeline-items-container {
  display: grid;
  grid-template-columns: 1fr 1rem 1fr;
}

.timeline-item-container {
  box-sizing: border-box;
  margin: 5px;
}
