.timeline {
  position: relative;
  background-color: orange;
  height: 1000px;
  width: 1000px;
}

.timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: #999;
  transform: translateX(-50%);
  z-index: 1;
}

.timeline-items-container {
  display: flex;
  flex-direction: column;
  background-color: green;
}

.timeline-item-container {
  box-sizing: border-box;
  background-color: aqua;
  width: 50%;
  margin: 5px;
}

.left {
  align-self: flex-start;
  margin-left: 0;
}

.right {
  align-self: flex-end;
  margin-right: 0;
}