.timeline-item {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 95%;
  transition: background-color 0.5s ease;
}

.timeline-item:hover {
  cursor: pointer;
  background-color: #1f2937;
}

.timeline-item-title-container {
  display: flex;
}

.timeline-item-title {
  flex: 1;
}

.timeline-item-date {
  justify-content: right;
}

.timeline-item-content {
  background-color: inherit;
  overflow: hidden;
}

.timeline-item-content.expanded {
  overflow: visible;
}
