.cursor {
  display: inline-block;
  width: 1rem;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.content-container {
  height: calc(var(--vh, 1vh) * 100 - 62px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-content-container {
  transform: translateY(-62px);
  padding: 1rem;
}

.typewriter-title {
  font-size: 6rem;
}

.typewriter-subtitle {
  font-size: 3rem;
}

@media (max-width: 480px) {
  .typewriter-title {
    font-size: 4rem;
  }
  .typewriter-subtitle {
    font-size: 2rem;
  }
}
